manifest {
    mainScript = 'adaptive_sampling_analysis.nf'
}

params {
    // default parameters
    max_cores = Runtime.runtime.availableProcessors()    
    cores = "8"
    mem = "12"
    help = false
    dir = ''
    read_until = ''

    // databases
    centrifuge_db = false

    // folder structure
    output = 'results'
    workdir = "/tmp/nextflow-adaptive_sampling_analysis-$USER"
}

// runinfo
timeline {
  enabled = true
  file = "${params.output}/runinfo/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.output}/runinfo/execution_report.html"
}

profiles {
    local {
        workDir = params.workdir
        includeConfig 'configs/local.config'
    }
    
    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }
}

