manifest {
    mainScript = 'adaptive_sampling_analysis.nf'
}

params {
    // default parameters
    max_cores = Runtime.runtime.availableProcessors()    
    cores = "8"
    mem = "12"
    help = false
    dir = ''
    read_until_file = ''


    // folder structure
    output = 'results'
    workdir = "/tmp/nextflow-adaptive_sampling_analysis-$USER"

    // Profiles
    executor = 'local'
    engine = 'docker'
}
// runinfo
timeline {
  enabled = true
  file = "${params.output}/runinfo/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.output}/runinfo/execution_report.html"
}

profiles {


    //executer
    local {
        executor {
                name = "local"
               	cpus = params.max_cores
        }
        workDir = params.workdir
        params.cloudProcess = false
        includeConfig 'configs/local.config'
    }

 
}

