process {
    withLabel: ubuntu       { container = 'nanozoo/basics:1.0--962b907' }
    withLabel: template     { container = 'nanozoo/template:3.8--21e23c9' }
    withLabel: centrifuge   { container = 'nanozoo/centrifuge:v1.0.4-beta--fab181c' } 
    withLabel: nanoplot     { container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
}
